
h1 {
  font-family: 'Playfair Display', serif;
  font-weight: 300;
}

p {
  font-family: 'Roboto', sans-serif;
}

td,
th {
  text-align: left;
  border: 1px solid black;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
}

tr:nth-child(even) {
  background-color: #f5f5f5;
}

th {
  background-color: #37474f;
  color: white;
}

.documentation-table {
  border-collapse: collapse;
}
