.page-container {
  width: 90%;
  margin: 0 auto;
}

h1, h3 {
  font-family: 'Playfair Display', serif;
  font-weight: 300;
}

p {
  font-family: 'Roboto', sans-serif;
}

td, th {
  text-align: left;
  border: 1px solid black;
  padding: 7px;
  font-family: 'Roboto', sans-serif;
  font-size: 10.5pt;
}

tr:nth-child(odd) {
  background-color: #e0e0e0;
}

table {
  border-collapse: collapse;
}

th {
  background-color: #708090;
  color: white;
}

.table-container {
  margin-bottom: 30px;
}
